* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(160deg, #000000, #001f36);
    min-height: 100vh;
}

.contenedor{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(140deg, #1c5560, #79ae92);
    color: #fbffcd;
    margin: 80px auto 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.buscador {
    width: 100%;
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: #fbffcd;
    color: #001f36;
    padding: 10px 20px;
    height: 55px;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.2s;
}

input:focus {
    box-shadow: 0 0 8px #79ae92;
}

button{
    border: none;
    background: #fbffcd;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: 0.3s;
}

button img {
    width: 22px;
}

button:hover {
    background: #79ae92;
    transform: scale(1.05);
}


.clima-icono {
    width: 160px;
    margin-top: 25px;
}

.clima-texto {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: -20px;
    font-style: italic;
    opacity: 0.9;
}

h1 {
    font-size: 70px;
    font-weight: 500;
}

h2 {
    font-size: 38px;
    font-weight: 400;
    margin-top: -10px;
}

.detalles {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.col img {
    width: 35px;
}

.humedad, .viento {
    font-size: 22px;
}


.desarrollado-por {
    margin-top: 25px;
    font-size: 19px;
    opacity: 0.8;
}

.desarrollado-por a {
    color: #fbffcd;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.2s;
}

.desarrollado-por a:hover {
    border-bottom: 1px solid #fbffcd;
}